.container {
  /* width: 90%; */
  margin: auto;
  text-align: center;
}

html {
  height: 110%;
}

body {
  background: linear-gradient(160deg, rgb(40, 3, 65), rgb(6, 43, 99), rgb(65, 182, 109));
  background-repeat: no-repeat;
  text-align: center;
  user-select: none;
}

h1 {
  margin: 25px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #233129;
  font-size: 7rem;
  color: #4ECCA3;
}

.dice p {
  font-size: 2rem;
  margin: 7%;
  font-weight: 900;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.dice {
  display: inline-block;
  text-align: center;
  width: 20%;
}

img {
  width: 70%;
  margin: 0;
}


footer {
  text-align: center;
}

.instruction {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 95%;
  color: #EEEEEE;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.links {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 2%;
  width: 70%;
}

footer a {
  margin: 0.5%;
}

footer img {
  width: 43px;
}

.btn{
  margin: auto;
  width: min-content;
}

.btn a {
  visibility: collapse;
  text-decoration: none;
  border: 3px solid #EEEEEE;
  border-radius: 145px;
  background: linear-gradient(rgb(211, 28, 15), rgb(119, 22, 5));
  padding: 14px 50px;
  font-size: 33px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  pointer-events: none;
}

.btn-on-click{
  text-decoration: none;
  border: 3px solid #704747;
  border-radius: 145px;
  background: linear-gradient(rgb(211, 28, 15), rgb(119, 22, 5));
  padding: 14px 50px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
}

.copyright{
  color: #EEEEEE;
  position: absolute;
  right: 10px;
  bottom: 1%;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .instruction {
    font-size: 1.5rem;
    visibility: collapse;
  }

  img {
    width: 120px;
  }

  .dice {
    margin: 3%;
    width: 33%;
  }
  .dice p{
    font-size: 1.7rem;
  }

  .btn a {
    visibility: visible;
    pointer-events: none;

  }

  .copyright{
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: -10%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 750px) {
  h1 {
    font-size: 5rem;
  }

  .instruction {
    font-size: 1.5rem;
    visibility: collapse;
  }

  .container{
    padding-bottom: 0;
    height: 80%;
  }

  img {
    width: 70%;
  }

  .dice {
    margin: auto;
    width: 33%;
  }
  .dice p{
    font-size: 2.5rem;
  }

  .btn a {
    visibility: visible;
    padding: 16px 60px;
    font-size: 30px;
  }

  footer img{
    width: 35px;
  }
  .copyright{
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: -10%;
  }

}

@media only screen and (min-width: 751px) and (max-width: 1200px) {
  .copyright{
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: -10%;
  }
}